* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*font-size: 62.5%;*/
    font-family: sans-serif;
}

body {
    width: 100%;
    text-align: center;
}

main {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 12rem;
}

#gameBoard div {
    height: 2rem;
    border: 1px solid #242222;
    background-color: darkslategrey;
    box-shadow: inset 0 0 2px white;
}

